body p, li {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

h2, h3 {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-style: normal;
}

.underline {
  text-decoration: underline;
  padding-left: 15px;
}

.bold {
  font-weight: bold;
}

#intro {
  display: flex;
}

#intro p {
  margin: 0;
}

.logoLinks {
  display: flex;
  padding: 5px 0 5px 0;
}

.logoLinks img {
  width: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

#contact {
  display: grid;
}

.inlineGrid {
  display: flex;
}

#sideMenuBtn {
  position: sticky;
  top: 15px;
}

#anyShaderTuto p {
  text-align: justify;
}

#anyShaderTuto {
  display: grid;
  grid-template-areas:
    "tutoHeader tutoHeader"
    "tutoList tutoImg"
    "tutoFooter tutoFooter";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto minmax(1fr,2fr);;
}

#tutoHeader {
  grid-area: tutoHeader;
}

#tutoList {
    grid-area: tutoList;
}

#tutoList ul {
  margin-top: 80px;
  margin-bottom: 0;
}

#tutoList ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#tutoList li:first-child {
  padding-top: 0;
}

#tutoList li:last-child {
  padding-bottom: 0;
}

#tutoList li {
  font-size: 24px;
}

#tutoImg {
    grid-area: tutoImg;
    scale: .6;
}

#tutoFooter {
  grid-area: tutoFooter;
}

#tutoFooter video {
  scale: .8;
}

#shaderFileTuto img {
  width: 60%;
}

#EndSection {
  background-color: #525a66;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  padding: 18px 8px 8px 32px;
  font-family: "Roboto", serif;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.flexClass{
  display: flex;
}

#main {
  transition: margin-left .5s;
  padding-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
